<a href="https://colab.research.google.com/github/istahadul07/Python_withML_BlackOrigin/blob/main/class6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For loop

In [ ]:
veggis=["potato","cucumber","turnips"]
for vegs in veggis:
  print(vegs)

numbers=[1,2,3,4,5,6]
for num in numbers:
  print(num)

#while example
[1,2,3,4,5,6]

In [ ]:
i=0
numbers=[1,2,3,4,5,6]
while i<len(numbers):
  print("While loop:",numbers[i])
  i=i+1

for num in numbers:
  print(num)

#for loop use in list,tuple,set,string[not works in dictornary]
#while loop in iteration

#string in for loop
name="Istahadul Hoque"
inputs=input("Enter a char:")
for x in name:
  if x==inputs:
    print("found")
    break
else:
    print("Not found")

practice 1

In [ ]:
list1=[1,4,9,16,25,36,49,64,81,100]
for i in list1:
  print(i)

1
4
9
16
25
36
49
64
81
100

problem 2

In [ ]:
tuple1=(3,6,9,12,15,18,21,24,27,30)
x=int(input("Enter the value of x:"))
for i in tuple1:
  if i==x:
    print("Found")
    break
else:
  print("Not found")

Range()in foor loop
start from 0 and increment by 1(by default) and stops before a specified number.

In [ ]:
#range(start,stop,step)
for x in range(6):
  print(x)

#two value in range(start,end)
for i in range(5,10):
  print(i)

#three value in range
for j in range(1,10,2):#here step is increment value.
  print(j)

problem 3

In [ ]:
#print odd numbers between 1 to 50
for x in range(1,51,2):
  print(x)

In [ ]:
#print 50 to 1 decreasing by 5
for y in range(50,0,-5):
  print(y)

Nested for loop

In [ ]:
a=[1,2,3]
b=[4,5,6]
for x in a:
  for y in b:
    print(x,y)

In [ ]:
count=1
x=int(input("Enter a number:"))
for x in range(1,(x+1),1):
  count=count*x
print(count)
count1=1

y=int(input("Enter a number:"))
while y>=1:
  count1=count1*y
  y=y-1
print(count)

Function

In [ ]:
#basic function
# def fucntionName(parameter1,parameter2):
#     pass
# functionName(argument1,argument2)

def sumvalues(x,y):
    sum=x+y
    print(sum)

sumvalues(10,20)

30