<a href="https://colab.research.google.com/github/istahadul07/Python_withML_BlackOrigin/blob/main/class2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=5
y=10
print(x+y)

15

In [ ]:
#constant expression
x=10+5
print(x)

15

In [ ]:
#arithmatic expression
y="Neymar"
x=y*4
print(x)

NeymarNeymarNeymarNeymar

In [ ]:
#relational expression
x=(10+12)<=(5+1)
print(x)

y=(10+12)>=(5+1)
print(y)

False
True

In [ ]:
#integral exp
x=10
y=9.1
z=11.2
print(x+int(y)+z)

30.2

In [ ]:
#float conversion
x=18
y=3
print(float(x/y))

6.0

In [ ]:
#logical exp
#!>and>or
x=(13<10)and(5<6)
print(x)

y=(12>2)or(5==6)
print(y)

False
True

In [ ]:
#bitwise expression
result=10<<2
print(result)

40

In [24]:
#comment multiple lines
'''
Ronaldo played world cup in 2006 for portugal
'''
'''
This is a multi-line comment
using triple single quotes.
It won't be executed by Python.
'''

"\nThis is a multi-line comment\nusing triple single quotes.\nIt won't be executed by Python.\n"

In [25]:
#single line comment
# x=10+5

In [30]:
#take value from user
x1="Enter the value of x"
print(x1)
x=int(input())
y1="Enter the value of y"
print(y1)
y=float(input())
print("The result:")
print(x+y)

Enter the value of x
45
Enter the value of y
87.2
The result:
132.2

In [31]:
#write a code for a square's area
a=float(input("Enter the value of a:"))
area=a*a
print("The result is:",area)

Enter the value of a:5
The result is: 25.0

In [32]:
#write a code for two floating point's avg
x=float(input("Enter the value of x:"))
y=float(input("Enter the value of y:"))
result=(x+y)/2
print(result)

Enter the value of x:6
Enter the value of y:2
4.0

In [38]:
x=int(input("Enter the value of x:"))
y=int(input("Enter the value of y:"))
z=(x>=y) or (x==y)
print(z)

Enter the value of x:4
Enter the value of y:3
True

In [41]:
#string
first_name="Istahadul"
last_name="Hoque"
print(first_name+" "+last_name)
#count_variable length with len() function
print(len(first_name))
print(len(last_name))

Istahadul Hoque
9
5

In [57]:
#indexing
name="ronaldo"
x=name[0]
y=name[6]
print(x)
print(y)
#replace function
name1="takin"
print("The old name is:",name1)
newname1=name1.replace("k","s")
print("Correct name:",newname1)
name2="Messii"
print(name2[3:5])
#negative indexing
print(name2[-1])

r
o
The old name is: takin
Correct name: tasin
si
o

In [67]:
#string functions
name="i am the best"
output=name.endswith("best")
print(output)
output1=name.count("t")
print(output1)
output2=name.capitalize()
print(output2)

True
2
I am the best